name: Frontend CI
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  docker:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
      - name: docker login
        run: aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 389841108590.dkr.ecr.us-east-1.amazonaws.com
      - run: docker build -t 389841108590.dkr.ecr.us-east-1.amazonaws.com/frontend .
        name: docker build
      - run: docker push 389841108590.dkr.ecr.us-east-1.amazonaws.com/frontend
        name: docker push
